
.convCover {
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    font-weight: 500;
    border-radius: 50%;
    /*border: 1px solid #ccc;*/
    background-color: #f2c94c;
    position: relative;
    display: inline-block;
}

.convCoverImg{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.statusCircle {
    height: 25%;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #f2c94c;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform-origin: 100% 100%;
    transform: rotate(180deg);

}


.statusOffline{

}
