@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --toolbar-height: 48px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body main {
    flex: 1;
    overflow-y: auto;
    display: flex;
    /*border-radius: 16px;*/
    background: linear-gradient(180deg, #FFF 0%, #ddd 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newMsg {
    border: 1px solid rgba(255, 0, 0 , 0);
    animation: blink 1.5s 1;
}

@keyframes blink { 50% { border-color:#f00 ; }  }

