.navigation {
    height: 100%;
    position: fixed;
    z-index: 1;
    transition: .8s ease;

    background-color: #fff;
    overflow: hidden;
}

.searchBtn {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 8px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.searchBtn:hover {
    opacity: .6;
}


.navPadding{
    padding: 8px 8px 0 8px;
    height: 100%;
    width: 100%;
}
/*
@media only screen and (min-width: 600px) {
    .navigation{
        width: 33.33333%;
    }
}*/

.navigation ul{
    margin-top: var(--toolbar-height);
    height: calc(100% - var(--toolbar-height));
    overflow-y: auto;
}

.navigation ul li {
    height: 64px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.navigation ul li:hover {
    background-color: #E8F0FB;
}


.convDetails {
    display: inline-block;
    height: 100%;
    width: calc(100% - 64px);
    /*flex: 1;*/
    margin-left: 16px;
    overflow: hidden;

}

.convUpper {
    display: flex;
}

.convName {
    color: #1B1A57;
    flex: 1;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastMsgTime {
    color: #4F5E7B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .6;
}

.convLower {
    display: flex;
    margin-top: 8px;
}

.lastMsgContent {
    flex: 1;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastMsgCount {
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.24px;

    padding: 4px 8px;
    border-radius: 12px;
    background-color: #2F80ED;
}


.iconSend {
    margin-right: 6px;
}


